@import '../settings/colors';
@import '../settings/fonts';

#about-us-section{
    display: flex;

}

.about-us-img img{
    width: 50vw;
    height: 100%;
}

.about-us-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
    background-color: $background-gray
}

.about-us-text img{
    width: 10vw;
    position: relative;
    left: 70%
}