@import '../settings/colors';
@import '../settings/fonts';


.home-menu{
    background-image: url(../../assets/Home-Hero-Image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50vh;
    background-position-x: -50%;
    padding: 10% 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.home-text{
    width: 42vw;
    font-size: 100%;
    text-align: center;
}

#button-home{
    width: 20vw;
    height: 7vw;
    border-radius: 0%;
    border: 1.5px solid $font-color;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2vw;
}


.home-buttons{
    display: flex;
    gap: 2vw;
}