@import '../settings/colors';
@import '../settings/fonts';

#three-columns{
    background-image: url(../../assets/columnsBackground.png);
}

#three-columns, .four-steps-text{
    display: flex;
    padding: 30px 0;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.column{
    
    width: 20vw;
    h1{
        font-size: 60px;
        font: normal normal 300 90px/122px Open Sans;
    }
}